@charset "UTF-8";

body {
	background: url(../images/background.jpg)no-repeat top center;
	font-family: "Microsoft JhengHei",Arial;
}
.container {
	width: 1000px;
}
.position-relative {
	position: relative;
}
*:focus {
	outline: none;
}

/*header*/
.header .title .logo {
	display: block;
	margin: 10px 0;
}
.header .menuControl ul {
	background: #d6e9f5;
	border-radius: 50em;
	width: 100%;
}
.header .menuControl ul li a {
    float: left;
    width: 16.66667%;
    text-align: center;
    font-size: 18px;
    padding: 12px 0;
    text-decoration: none;
}
.header .menuControl ul li a i {
	font-size: 14px;
	margin-right: 5px;
}
.header .menuControl ul li a.active {
	background: #508cb5; /* Old browsers */
	background: -moz-linear-gradient(top, #508cb5 0%, #285f85 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #508cb5 0%,#285f85 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #508cb5 0%,#285f85 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#508cb5', endColorstr='#285f85',GradientType=0 ); /* IE6-9 */
	border-radius: 50em;
	color: #fff;
}
.header .menuControl ul:after {
    content: '';
    display: block;
    clear: both;
}

/*mainContent-Left*/
.mainContent .leftBlock {
    width: 22%;
    margin-right: 1%;
    float: left;
}
.mainContent .leftBlock .loginBar {
	background: #e4f1f1;
    border-top-right-radius: 20px;
    overflow: hidden;
}
.mainContent .leftBlock .loginBar h4 {
    margin: 0;
    padding: 15px;
    position: relative;
    background: #84e1e2;
    background: -moz-linear-gradient(top, #84e1e2 0%, #00afb1 55%, #12adaf 100%);
    background: -webkit-linear-gradient(top, #84e1e2 0%,#00afb1 55%,#12adaf 100%);
    background: linear-gradient(to bottom, #84e1e2 0%,#00afb1 55%,#12adaf 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#84e1e2', endColorstr='#12adaf',GradientType=0 );
    color: #fff;
    font-size: 18px;
    font-weight: normal;
}
.mainContent .leftBlock .loginBar h4 img {
	position: absolute;
	bottom: 0;
    right: 0;
}
.mainContent .leftBlock .loginBar form input {
	margin: 10px 0;
    border-radius: 50em;
    border: 1px solid #c1eae7;
    background: transparent;
     padding-left: 40px;
}
.mainContent .leftBlock .loginBar form input.passcode {
	width: 60%;
}
.mainContent .leftBlock .loginBar form #passcodeImg {
	width: 35%;
    position: absolute;
    top: 5px;
    right: 5px;
}
.mainContent .leftBlock .loginBar form input::placeholder {
	color: #72b0b0;
}
.mainContent .leftBlock .loginBar form input:focus {
	border-color: #72b0b0;
}
.mainContent .leftBlock .loginBar form input + i {
    position: absolute;
    top: 5px;
    left: 14px;
    line-height: 24px;
    border-radius: 50em;
    color: #72b0b0;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
}
.mainContent .leftBlock .loginBar .btn {
    background: #d6d6d6; /* Old browsers */
	background: -moz-linear-gradient(top, #d6d6d6 0%, #b6b6b6 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #d6d6d6 0%,#b6b6b6 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #d6d6d6 0%,#b6b6b6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6d6d6', endColorstr='#b6b6b6',GradientType=0 ); /* IE6-9 */
	color: #fff;
	border-radius: 50em;
	margin-bottom: 3%;
	border-color: transparent;
}
.mainContent .leftBlock .loginBar .BtnLogin {
    width: 47%;
    margin-left: 3%;
    background: #31c2c4; /* Old browsers */
	background: -moz-linear-gradient(top, #31c2c4 0%, #00a3a5 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #31c2c4 0%,#00a3a5 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #31c2c4 0%,#00a3a5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#31c2c4', endColorstr='#00a3a5',GradientType=0 ); /* IE6-9 */
}
.mainContent .leftBlock .loginBar .BtnRegister {
    background: #ecc14d; /* Old browsers */
	background: -moz-linear-gradient(top, #ecc14d 0%, #ffa44b 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ecc14d 0%,#ffa44b 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ecc14d 0%,#ffa44b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ecc14d', endColorstr='#ffa44b',GradientType=0 ); /* IE6-9 */
}

/*mainContent-Right共用樣式*/
.mainContent .rightBlock {
    width: 77%;
    float: left;
}
.mainContent .rightBlock h4 {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #fff;
    display: inline-block;
    padding: 10px 15px 5px 60px;
    position: relative;
    margin: 0;
    font-weight: normal;
}
.mainContent .rightBlock h4 i {
	background: #000;
	position: absolute;
	left: 5px;
    bottom: 0;
}
.mainContent .rightBlock .pagination {
	margin: 5px 0 0 0;
	float: right;
}
.mainContent .rightBlock .pagination li a {
	padding: 3px 10px;
	border: none;
	border-radius: 0;
	color: #888;

}
.mainContent .rightBlock .pagination li.active a {
	background: #ffc13d;
	color: #fff;
}
.mainContent .rightBlock li.panel {
	position: relative;
	margin-bottom: 10px;
}
.mainContent .rightBlock li.panel:last-child {
	margin-bottom: 0;
}
.mainContent .rightBlock li.panel:before {
    content: '▶';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #ffc13d;
    border-radius: 50em;
    color: #fff;
    position: absolute;
    top: 5px;
    left: 5px;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    font-size: 12px;
    line-height: 24px;
}
.mainContent .rightBlock li.panel a {
    padding: 5px 5px 5px 30px;
    background: #fff;
    border: 1px solid #fff;
    background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #f0f0f0 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ffffff 0%,#f0f0f0 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ffffff 0%,#f0f0f0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0',GradientType=0 ); /* IE6-9 */
    width: 100%;
    display: flex;
    text-decoration: none;
}
.mainContent .rightBlock li.panel a span {
    flex: 1;
    text-align: right;
    margin-left: 20px;
}
.mainContent .rightBlock .items {
	padding: 10px;
}
/*跑馬燈*/
.mainContent .rightBlock .marquee {
	background: #f28383;
	border-radius: 50em;
	color: #fff;
	padding: 5px 5px 0 5px;
	width: 100%;
    margin-bottom: 1%;
}
.mainContent .rightBlock .marquee span:after {
	content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0px 0 30px 20px;
    border-color: transparent transparent transparent #f28383;
    position: absolute;
    top: -4px;
}
.mainContent .rightBlock .marquee span {
    position: absolute;
    padding-left: 15px;
    background: #f28383;
    z-index: 1;
}
.mainContent .rightBlock .marquee marquee {
	background: #fff;
	border-radius: 50em;
	color: #000;
}
/*最新消息*/
.mainContent .rightBlock .news h4 {
	background: #83dbff;
    background: -moz-linear-gradient(top, #83dbff 0%, #7acde5 40%, #55bae4 59%);
    background: -webkit-linear-gradient(top, #83dbff 0%,#7acde5 40%,#55bae4 59%);
    background: linear-gradient(to bottom, #83dbff 0%,#7acde5 40%,#55bae4 59%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#83dbff', endColorstr='#55bae4',GradientType=0 );
}
.mainContent .rightBlock h4 .newsIcon {
	background: url(../images/newsIcon.png)no-repeat center center;
	width: 50px;
	height: 30px;
}
.mainContent .rightBlock .news .items {
	background: #54bae4;
}
/*案例分享*/
.mainContent .rightBlock .case h4 {
	background: #a7e07e; /* Old browsers */
	background: -moz-linear-gradient(top, #a7e07e 0%, #87d236 46%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #a7e07e 0%,#87d236 46%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #a7e07e 0%,#87d236 46%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7e07e', endColorstr='#87d236',GradientType=0 ); /* IE6-9 */
}
.mainContent .rightBlock h4 .caseIcon {
    background: url(../images/caseIcon.png)no-repeat center center;
    background-size: cover;
    width: 50px;
    height: 30px;
}
.mainContent .rightBlock .case .items{
	background: #87d236;
}
/*影音專區*/
.mainContent .rightBlock .audio h4 {
	background: #be7ee0; /* Old browsers */
	background: -moz-linear-gradient(top, #be7ee0 0%, #9350b2 46%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #be7ee0 0%,#9350b2 46%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #be7ee0 0%,#9350b2 46%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#be7ee0', endColorstr='#9350b2',GradientType=0 ); /* IE6-9 */
}
.mainContent .rightBlock h4 .audioIcon {
    background: url(../images/audioIcon.png)no-repeat center center;
    background-size: cover;
    width: 38px;
    height: 35px;
}
.mainContent .rightBlock .audio .items{
	background: #934fb2;
}
.mainContent .rightBlock .audio .audioContent {
	color: #fff;
	position: relative;
}
.mainContent .rightBlock .audio .audioContent h6 {
    font-size: 16px;
    font-weight: normal;
    padding-bottom: 10px;
    border-bottom: 1px solid #762c99;
    box-shadow: 0 1px 0 #b775d6;
}
.mainContent .rightBlock .audio .audioContent .more {
	background: #c87eea;
    border-radius: 5px;
    color: #fff;
    padding: 5px 15px;
    font-size: 14px;
    position: absolute;
    bottom: -25px;
    right: 10px;
}
.mainContent .rightBlock .audio .audioContent iframe {
	max-width: 100%;
}
/*相關連結*/
.mainContent .rightBlock .connect h4 {
	color: #828282;
}
.mainContent .rightBlock .connect h4 .connectIcon {
	background: url(../images/connectIcon.png)no-repeat center center;
    background-size: cover;
    width: 26px;
    height: 26px;
}
.mainContent .rightBlock .connect .items #connect {
	white-space: nowrap;
	overflow-x: scroll;
}
.mainContent .rightBlock .connect .items #connect li {
	display: inline-block;
    margin-right: 5px;
}
.mainContent .rightBlock .connect .items #connect li a img {
	height: 46px;
}
/*footer*/
.footer .footerControl {
	background: #eee;
    padding: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 1px solid #d4d4d4;
    text-align: center;
}
.footer .footerControl ul li {
	display: inline-block;
	margin-right: 20px;
	padding-right: 20px;
	border-right: 1px solid #000;
}
.footer .footerControl ul li:last-child {
	border-right: none;
}
.footer .footerControl ul li a {
	text-decoration: none;
	color: #000;
}
.footer .footerControl ul li:last-child a {
	color: #eca31e;
}
.footer .footerControl p {
	margin-bottom: 0;
	font-size: 12px;
}

/*Modal-common*/
.modal .modal-dialog {
	margin: 20vh auto 0;
}
.modal .modal-dialog .modal-header {
	font-weight: normal;
    color: #fff;
}
.modal .modal-dialog .modal-header h4 {
	font-weight: normal;
}
.modal-dialog .modal-body form .m-b-md {
    margin-bottom: 10px;
    padding: 0 20px;
    height: 30px;
    line-height: 30px;
}
.modal-dialog .modal-body form .inputLabel {
    font-weight: normal;
    min-width: 50px;
}
.modal-dialog .modal-body form input[type='radio'] {
	margin: 0 5px 0 10px;
}
.modal-dialog .modal-body form select {
	height: 36px;
    line-height: 24px;
}
.modal .modal-dialog .txtWarn {
    color: #ff8080;
}
.modal .modal-dialog button {
	border-radius: 5px;
	padding: 5px 10px;
	text-align: center;
}
.modal .modal-dialog .modalFooter {
	width: 100%;
	text-align: center;
    margin-top: 20px;
}
.modal .modal-dialog .BtnReset {
	background: #ececec;
    border: 1px solid #d2d2d2;
    color: #8e8e8e;
    margin-right: 5px;
}
.modal .modal-dialog .BtnSubmit {
    background: #4ea3dc;
    border: 1px solid #45adf3;
    color: #fff;
}
.modal .modal-dialog .must:after {
	content: "*";
	color: #ff8080;
    display: inline-block;
    padding-left: 3px;
}
/*Modal-帳號申請*/
#registerAccount .modal-dialog .modal-header {
	background: #ecc14d;
    background: -moz-linear-gradient(top, #ecc14d 0%, #ffa44b 100%);
    background: -webkit-linear-gradient(top, #ecc14d 0%,#ffa44b 100%);
    background: linear-gradient(to bottom, #ecc14d 0%,#ffa44b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ecc14d', endColorstr='#ffa44b',GradientType=0 );
}
#registerAccount .modal-dialog a {
	color: #ff8080;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-weight: normal;
	text-decoration: none;
}
#registerAccount .modal-dialog a span {
	padding: 0 10px;
	width: 35px;
    display: inline-block;
    text-align: center;
}
#registerAccount .modal-dialog .contentInfo {
	height: 350px;
    margin-top: 10px;
	overflow-y: scroll;
    overflow-x: hidden;
}
#registerAccount .modal-dialog .contentInfo .stepTitle {
	background: url(../images/modalTitle.jpg)no-repeat 0 bottom;
    font-size: 24px;
    padding-bottom: 12px;
    margin: 25px 0;
}
#registerAccount .modal-dialog .contentInfo h6 {
	font-size: 16px;
	font-weight: normal;
}
#registerAccount .modal-dialog .contentInfo p {
	color: #909090;
    font-size: 14px;
    line-height: 28px;
    padding: 0 20px;
}
#registerAccount .modal-dialog .contentInfo ol li {
    counter-increment: li;
    color: #909090;
    margin-bottom: 10px;
    transition: .3s;
    padding: 3px 0;
}
#registerAccount .modal-dialog .contentInfo ol li:before {
	content: counter(li);
    background: #42c6f5;
    border-radius: 50em;
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    color: #fff;
    margin: 0 5px;
}
#registerAccount .modal-dialog .contentInfo ol li:hover {
	background: #e1eef1;
}
/*Modal-忘記密碼*/
#forgetPWD .modal-dialog .modal-header {
	background: #efefef; /* Old browsers */
	background: -moz-linear-gradient(top, #efefef 0%, #b2b2b2 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #efefef 0%,#b2b2b2 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #efefef 0%,#b2b2b2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#b2b2b2',GradientType=0 ); /* IE6-9 */
	color: #7d7d7d;
}
#forgetPWD .modal-dialog .modal-body {
	text-align: center;
}

