@charset "UTF-8";

body {
	background: url(../images/background.jpg)no-repeat top center;
	font-family: "Microsoft JhengHei",Arial;
}
.container {
	width: 1000px;
}
.position-relative {
	position: relative;
}
*:focus {
	outline: none;
}


/*員工教育訓練*/
.mainContent .rightBlock .onJobTrain {
}
.mainContent .rightBlock .onJobTrain h5 {
    color: #545454;
    background: url(../images/modalTitle.jpg)no-repeat 0 bottom;
    font-size: 18px;
    font-weight: normal;
    padding: 12px 0;
}
.mainContent .rightBlock .onJobTrain h5 i {
    font-size: 16px;
    margin:0 5px;
}
/*table-listViewTable*/
.onJobTrain .listViewTable tr th {
    background: #8c5cc5;
}
.onJobTrain .listViewTable tr {
    background: #fff;
}
.onJobTrain .listViewTable tr:nth-child(odd) {
    background: #e9e3ef;
}
.onJobTrain .listViewTable tr:hover {
    background: #cba7cc;
}
/*table-dataSheet*/
.onJobTrain .dataSheet tr td input[type='checkbox'] {
    margin-left: 5px;
    margin-right: 5px;
}
.onJobTrain .dataSheet tr td p.checkboxBlock {
    margin-top: 5px;
    margin-bottom: 0;
}