<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>職業安全衛生管理報備資訊網</title>
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/main.css">

	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/controllers/main.js"></script>
</head>
<body ng-app="myApp" ng-controller="MainCtrl">
	<div class="header">
		<div class="container">
			<div class="row">
				<div class="title">
					<img class="logo" src="images/logo.png" alt="">
					<img class="logo" src="images/title.png" alt="">
				</div>
				<div class="menuControl">
					<ul>
						<li><a class="active" href=""><i class="glyphicon glyphicon-home"></i>首頁</a></li>
						<li><a href="">職業災害通報管理</a></li>
						<li><a href="">人員訓練管理系統</a></li>
						<li><a href="">安全衛生訓練學堂</a></li>
						<li><a href="">安衛管理小幫手</a></li>
						<li><a href="">活動報名專區</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="mainContent">
		<div class="container">
			<div class="row">
				<div class="leftBlock">
					<!-- 登入bar -->
					<div class="loginBar">
						<h4>使用者登入<img src="images/loginIcon.png" alt=""></h4>
						<form class="form-group col-xs-12" tabindex="-1">
						    <div class="position-relative">
						    	<input type="text" class="form-control" placeholder="帳號">
						    	<i class="glyphicon glyphicon-user"></i>
						    </div>
						    <div class="position-relative">
						    	<input type="password" class="form-control" placeholder="密碼">
						    	<i class="glyphicon glyphicon-lock"></i>
						    </div>
						    <div class="position-relative">
						    	<input type="text" class="form-control passcode" placeholder="驗證碼" maxlength="4">
						    	<i class="glyphicon glyphicon-lock"></i>
						    	<img id="passcodeImg" src="images/passcode.jpg" alt="">
						    </div>
						    <a class="btn btn-default col-xs-6 Btnforget" data-toggle="modal" data-target="#forgetPWD">忘記密碼</a>
						    <button type="submit" class="btn btn-default col-xs-6 BtnLogin">登入</button>
						    <a class="btn btn-default col-xs-12 BtnRegister" data-toggle="modal" data-target="#registerAccount">帳號申請</a>
						    <a class="btn btn-default col-xs-12">點擊查看登入說明</a>
						</form>
					</div>
				</div>
				<div class="rightBlock">
					<!-- 公告跑馬燈 -->
					<div class="marquee">
						<span>公告</span>
						<marquee behavior="" direction="">{{MsgMarquee}}</marquee>
					</div>
					<!-- 最新消息 -->
					<div class="panel-group news" >
						<h4>最新消息<i class="newsIcon"></i></h4>
						<ul class="pagination">
							<li class="previous"><a href="#">上一頁</a></li>
							<li class="active"><a href="">1</a></li>
							<li><a href="">2</a></li>
							<li><a href="">3</a></li>
							<li><a href="">...</a></li>
							<li class="next"><a href="#">下一頁</a></li>
						</ul>
						<ul id="news" class="items">
							<li ng-repeat="(key,value) in News" class="panel panel-default">
								<a data-toggle="collapse" data-parent="#news" href="#news{{key}}">{{value.title}}
									<span>{{value.time}}</span>
								</a>
								<div id="news{{key}}" class="panel-collapse collapse">
									<div class="panel-body">{{value.content}}</div>
								</div>
							</li>
						</ul>
					</div>
					<!-- 職災案例分享 -->
					<div class="panel-group case" >
						<h4>職災案例分享<i class="caseIcon"></i></h4>
						<ul class="pagination">
							<li class="previous"><a href="#">上一頁</a></li>
							<li class="active"><a href="">1</a></li>
							<li><a href="">2</a></li>
							<li><a href="">3</a></li>
							<li><a href="">...</a></li>
							<li class="next"><a href="#">下一頁</a></li>
						</ul>
						<ul id="case" class="items">
							<li ng-repeat="(key,value) in Cases" class="panel panel-default">
								<a data-toggle="collapse" data-parent="#case" href="#case{{key}}">{{value.title}}
									<span>{{value.time}}</span>
								</a>
								<div id="case{{key}}" class="panel-collapse collapse">
									<div class="panel-body">{{value.content}}</div>
								</div>
							</li>
						</ul>
					</div>
					<!-- 影音專區 -->
					<div class="panel-group audio" >
						<h4>影音專區<i class="audioIcon"></i></h4>
						<ul class="pagination">
							<li class="previous"><a href="#">上一頁</a></li>
							<li class="active"><a href="">1</a></li>
							<li><a href="">2</a></li>
							<li><a href="">3</a></li>
							<li><a href="">...</a></li>
							<li class="next"><a href="#">下一頁</a></li>
						</ul>
						<div class="items">
							<div class="row">
								<div class="col-xs-6 audioContent">
									<h6>{{Video[0].title}}</h6>
									<p>{{Video[0].content}}</p>
									<a class="more" href="">more</a>
								</div>
								<div class="col-xs-6 audioContent">
									<iframe width="640" height="360" src="https://www.youtube.com/embed/P6vPWkKuDzQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
								</div>
							</div>
						</div>
					</div>
					<!-- 相關連結 -->
					<div class="panel-group connect">
						<h4>相關連結<i class="connectIcon"></i></h4>
						<div class="items">
							<ul id="connect">
								<li ng-repeat="(key,value) in ConnectUrl">
									<a href="{{value.url}}">
										<img src="{{value.img}}" alt="">
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- 帳號申請 -->
	<div class="modal fade" id="registerAccount" role="dialog">
		<div class="modal-dialog modal-sm">
	    	<div class="modal-content">
	        	<div class="modal-header">
	          		<button type="button" class="close" data-dismiss="modal">&times;</button>
	          		<h4 class="modal-title">帳號申請</h4>
	        	</div>
	        	<div class="modal-body">
	          		<p>Some text in the modal.</p>
	        	</div>
	        	<div class="modal-footer">
	          		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        	</div>
	      	</div> 
	    </div>
  	</div>
	<!-- 忘記密碼 -->
	<div class="modal fade" id="forgetPWD" role="dialog">
		<div class="modal-dialog modal-sm">
	    	<div class="modal-content">
	        	<div class="modal-header">
	          		<button type="button" class="close" data-dismiss="modal">&times;</button>
	          		<h4 class="modal-title">忘記密碼</h4>
	        	</div>
	        	<div class="modal-body">
	          		<p>Some text in the modal.</p>
	        	</div>
	        	<div class="modal-footer">
	          		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        	</div>
	      	</div> 
	    </div>
  	</div>
</body>
</html>